.sidebar {
  padding: 40px 35px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);


  h2 {
    margin-bottom: 100px;
    font-size: 1.25rem;
    font-weight: 700;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  ul li {
    width: 100%;
    padding-bottom: 8px;
    font-size: 1rem;
    color: #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    transition: all 0.1s linear;

    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.98);
    }

    &.active {
      color: #000000;
      border-bottom: 1px solid #000000;
    }
  }
}
