.layout {
  position: relative;
}

.info-message {
  margin-bottom: 20px;
  text-align: center;
}

.keyword-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 500px;
  margin-top: 20px;
  gap: 10px;
  
  button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    
    &:hover {
      cursor: pointer;
    }
  }
}