@import '@sass/mixins.scss';

// layoutTheme 추가가 필요한 경우, 새로운 class를 만들어서 input과 button 스타일을 지정해주면 됨.
.main {
  position: relative;
  width: 250px;

  input {
    width: 100%;
    height: 50px;
    padding: 15px 30px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    &::placeholder {
      font-size: 0.9rem;
    }
  }

  button {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    transition: all 0.2s;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.modal {
  display: flex;
  gap: 10px;

  input {
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Noto Sans KR', sans-serif;
    &:focus {
      outline: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    @include button-interaction;
  }
}
