@import '@sass/variables.scss';

.profile-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $charcoal-color;
  border-radius: 10%;
  background-color: #ffffff;
  aspect-ratio: 1 / 1;
}

.title {
  margin-bottom: 5px;
  color: $charcoal-color;
  font-size: 20px;
  font-weight: 400;
}

.user-count {
  color: #aaaaaa;
  font-size: 16px;
}
