@import '@sass/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  gap: 20px;
}

.profile-wrapper {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.profile-edit-button {
  border: none;
  background: none;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.98);
  }
}

.logout-button {
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background: none;
  font-size: 14px;
  @include enlarge-button-interaction;
}

.withdrawal-button {
  border: none;
  background: none;
  font-size: 10px;
  text-decoration: underline;
  @include enlarge-button-interaction;
}
