@import '@sass/mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;

  .user-button {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    transition: all 0.2s;
    @include button-interaction;

    &:hover {
      transform: scale(1.05);
    }
  }
}
