@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-interaction {
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.98);
  }
}

@mixin enlarge-button-interaction {
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.98);
  }
}
