.main {
  width: 60%;
  padding: 45px 35px;
  border: 1px solid black;
  border-radius: 15px;
}

.content {
  display: flex;

  div:first-child {
    flex: 1;
  }
}

.header {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
  font-family: 'Nanum BugGeugSeong';
  gap: 18px;
}

.title {
  font-size: 50px;
}

.user-count {
  font-size: 24px;
}

.sidebar {
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  animation: open-sidebar 0.5s;

  &.close {
    animation: close-sidebar 0.5s;
  }
}

@keyframes open-sidebar {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 30%;
    opacity: 1;
  }
}

@keyframes close-sidebar {
  from {
    width: 30%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
