.sidebar {
  width: 30%;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;

  h4 {
    font-family: 'Nanum BugGeugSeong';
    font-size: 24px;
  }
}

.profile-image {
  border-radius: 5px;
}

.thread {
  display: flex;
  gap: 10px;
}

.name-time {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-time {
  color: #ccc;
  font-size: 12px;
}

.comment-count {
  margin: 10px 0;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  display: flex;
  gap: 10px;
}