.container {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-family: 'NanumBugGeugSeong';
}

.title {
  font-size: 1.7rem;
}

.count {
  font-size: 1.2rem;
}
