.list-container {
  position: absolute;
  height: 50vh;
  width: 150px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 50px;
  transition: 0.3s all ease-in-out;
  z-index: 9;
  color: black;

  &:hover {
    height: 80vh;
  }
}

.list-title {
  position: fixed;
  margin-left: 20px;
  font-size: 1.8rem;
  font-family: 'NanumBugGeugSeong';
}

.list-item {
  font-size: 1.5rem;
  font-family: 'NanumBugGeugSeong';
}
