.list-container {
  position: absolute;
  z-index: 9;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 150px;
  height: 50vh;
  margin-top: 50px;
  margin-left: 20px;
  color: black;
  transition: 0.3s all ease-in-out;

  &:hover {
    height: 80vh;
  }
}

.list-title {
  position: fixed;
  margin-left: 20px;
  font-family: 'NanumBugGeugSeong';
  font-size: 1.8rem;
}

.list-item {
  font-family: 'NanumBugGeugSeong';
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}
