@import '@sass/variables.scss';

.bubble {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $primary-color;
  transition: 0.1s linear;
  &:hover {
    border: 1px solid $primary-color;
    background-color: $off-white-color;
    cursor: pointer;
    span {
      color: $primary-color;
    }
  }

  span {
    display: block;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $off-white-color;
    text-align: center;
    font-family: 'Nanum BugGeugSeong';
    transition: background-color 0.1s ease-in;
  }
}
