@import '@sass/variables.scss';

.bubble {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: 0.5s linear;
  will-change: transform;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $primary-color;
    transition: 0.3s ease-in;

    &:hover {
      z-index: 9;
      border: 1px solid $primary-color;
      background-color: $off-white-color;
      cursor: pointer;
      transform: scale(1.2);
      span {
        color: $primary-color;
      }
    }

    span {
      display: block;
      overflow: hidden;
      width: 90%;
      color: $off-white-color;
      font-family: 'NanumBugGeugSeong';
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: background-color 0.1s ease-in;
    }
  }
}

.highlight {
  div {
    background-color: $off-white-color;
    border: 2px solid $primary-color;

    span {
      color: $primary-color;
    }
  }
}
