@mixin button-interaction {
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.98);
  }
}

.list-container {
  width: 100%;
  display: flex;
  margin: 15px;
  gap: 15px;
  flex-wrap: wrap;
}
