@import '@sass/variables.scss';
@import '@sass/mixins.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 150px;
  padding: 10px;

  hr {
    width: 100%;
  }
}

.title {
  font-family: 'NanumBugGeugSeong';
  font-size: 2.5rem;
  text-align: center;
}

.github-login-button {
  position: relative;
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: $off-white-color;
  color: #000000;
  font-family: 'NanumBugGeugSeong';
  font-size: 1.5rem;
  @include flex-center;
  @include button-interaction;

  svg {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
  }
}
